* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}
img{
  max-width: 100%;
  height: auto;
}
header {
  text-align: center;
  background: #00539C;
  color: rgb(255, 255, 255);
  padding: 2rem;
  grid-column: 1/4;
}
nav {
    background: #515151;
    color: white;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    grid-column: 1/4;
  }
main {
  grid-column: 2/3;
  color: #515151;
  padding: 1rem;
}
section{
  border: 1px solid #000;
  padding: 1rem;
}
footer {
  background: #00539C;
  padding: 1rem;
  text-align: center;
  color: white;
  grid-column: 1/4;
}
