* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}
img{
  max-width: 100%;
  height: auto;
}
header {
  text-align: center;
  background: #00539C;
  color: rgb(255, 255, 255);
  padding: 2rem;
  grid-column: 1/4;
}
nav {
    background: #515151;
    color: white;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    grid-column: 1/4;
  }
main {
  grid-column: 2/3;
  color: #515151;
  padding: 1rem;
}
section{
  text-align: center;
  border: 1px solid #000;
  background-color: #515151;
  color: white;
  margin: 1rem;
}
.ads{
  display: grid;
  grid-template-rows: auto auto;
}
.ads h2{
  grid-column: 1/4;
}
.ads section{
  grid-row: 2/3;
  background-color: white;
  color:#00539C; 
}
.ads section h3{
  text-align: center;
  color: white;
  background-color: #00539C;
}
footer {
  background: #00539C;
  padding: 1rem;
  text-align: center;
  color: white;
  grid-column: 1/4;
}
#menu {
  font-size: 1.5rem;
  border: 1px solid rgba(0,0,0,.3);
  padding: 3px 7px 6px;
  background-color: #eee;
  color: #000;
}
#menu::before {
  content: "☰";
}

#menu.open::before {
  content: "❌"; 
}

.navigation {
  display: none;
  flex-direction: column; /* Initially hide the menu */
  align-items: center; /* Align the menu items to the right */
}
.navigation a {
  padding: 0 15px;
  color: white; /* Added to ensure links are visible */
  text-decoration: none; /* Added to remove underline */
}


.navigation.open {
  display: flex; /* Show the menu when the open class is applied */
}
.navigation.open #menu::after {
  content: "✕";
  margin-left: 0.5em; /* Adjusted for proper alignment */
}

ul {
  list-style: none;
  padding: 1rem;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: rgb(97, 59, 144);
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}