@media (min-width: 1000px) {
    nav {
      display: flex;
      justify-content: flex-end;
      padding: 1rem;
    }
  
    .navigation {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .overlay p::before {
      content: "Large";
    }
    .ads {
      display: grid;
      grid-template-rows: auto auto;
    }
    .ads h2 {
      grid-column: 1/4;
    }
    .ads section {
      grid-row: 2/3;
    }
  
    #menu {
      display: none;
    }

    #discmain{
      grid-column: 1/4;
      display: grid;
      grid-template-columns: 1fr 2fr;
    }
  }
  
  