@media (min-width: 768px) {
    nav {
      display: flex;
      justify-content: flex-end;
      padding: 1rem;
    }
  
    .navigation {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  
    #menu {
      display: none;
    }
  }
  