@media (min-width: 768px) {
  nav {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
  }

  .navigation {
    display: flex;
    align-items: center;
  }

  .navigation li {
    list-style: none; /* Remove default list style */
    margin: 0 10px; /* Adjust spacing between menu items */
  }

  .navigation a {
    color: white; /* Adjust the color to make links visible */
    text-decoration: none; /* Remove underline */
  }

  #menu {
    display: none;
  }
}
